#Name {
  color: white;
  display: flex;
  background-color: tomato;
  padding: 2rem;
  position: relative;
  /* padding-left: 35%; */
  font-size: xx-large;
  width: 100vw;
  text-align: center;
}


#selfImg {
  border-radius: 50%;
  position: relative;
  align-items: start;
}

#AboutmeHeader {
  color: whitesmoke;
  background-color: tomato;
  position: relative;
  font-size: xx-large;
  text-align: center;

}

#AboutmeParagraph {
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgba(235, 50, 50, 0.575);

}