#navBar {
  background-color: rgba(252, 61, 61, 0.815);
  display: flex;
  width: 100vw;
  color: white;

}

ul {
  text-align: center;
}

.ulList {
  display: inline;
  padding: 3px;
  position: relative;
  /* padding-left: 40%; */
}